<h1>Listing fvalues for shipment <%= @shipment.batch_number %></h1>

<table>
  <tr>
    <th>Factor</th>
    <th>Fvalue</th>
    <th></th>
  </tr>

<% @fvalues.each do |fvalue| %>
  <tr>
    <td><%= link_to fvalue.factor.j_title, edit_speciman_shipment_fvalue_path(@speciman, @shipment, fvalue) %></td>
    <td><%= fvalue.fvalue %></td>
  </tr>
<% end %>
</table>

<br />

<!-- %= link_to 'New Fvalue', new_speciman_shipment_fvalue_path(@speciman, @shipment) %  -->
